.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 40px;
  background-color: rgb(0, 128, 255);
  border-radius: 8px;
  color: #fff;
  max-width: 450px;
}

.btn {
  background-color: #b90000;
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.list {
  max-width: 450px;
  margin: 36px auto 0;
}
